# Pandas -- working with tabular data

In [1]:
import numpy as np
pokemons = {
    "pokemon_height" : np.random.randint(10,50,5),
    "pokemon_weight" : np.random.randint(70,120,5),
    "pokemon_power" :  np.random.randint(250,400,5)
}

In [2]:
pokemons

{'pokemon_height': array([46, 24, 21, 17, 14]),
 'pokemon_weight': array([114,  98,  85,  75, 101]),
 'pokemon_power': array([316, 314, 356, 377, 354])}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(pokemons)
print(df)

   pokemon_height  pokemon_weight  pokemon_power
0              46             114            316
1              24              98            314
2              21              85            356
3              17              75            377
4              14             101            354

In [6]:
df.head(n=3)

   pokemon_height  pokemon_weight  pokemon_power
0              46             114            316
1              24              98            314
2              21              85            356

In [9]:
df.tail(3)

   pokemon_height  pokemon_weight  pokemon_power
2              21              85            356
3              17              75            377
4              14             101            354

In [18]:
print(df.columns)

Index(['pokemon_height', 'pokemon_weight', 'pokemon_power'], dtype='object')

In [19]:
#convert to CSV with index
df.to_csv("pokemons_data.csv")

In [24]:
#read a csv file
df1 = pd.read_csv('pokemons_data.csv')
df1.head(3)

   Unnamed: 0  pokemon_height  pokemon_weight  pokemon_power
0           0              46             114            316
1           1              24              98            314
2           2              21              85            356

In [27]:
#dropping the unnamed:0 column
df1.drop(columns = ["Unnamed: 0"])

   pokemon_height  pokemon_weight  pokemon_power
0              46             114            316
1              24              98            314
2              21              85            356
3              17              75            377
4              14             101            354

In [29]:
#convert to CSV without index
df.to_csv("pokemons_data_without_index.csv",index=False)

In [30]:
pd.read_csv("pokemons_data_without_index.csv")

   pokemon_height  pokemon_weight  pokemon_power
0              46             114            316
1              24              98            314
2              21              85            356
3              17              75            377
4              14             101            354